@{
    ViewBag.Title = "Home Page";
}
<h3> Seja Bem-Vindo ao projeto da Agricultura Cooperativa </h3>
<hr />
<p>Sejam bem vindos ao dashboard do projeto agricultura cooperativa que visa trabalhar os conceitos de CRUD, Login e 
    carrinho de compras em ASP.NET</p>